---
import Pagination from "@components/Pagination.astro";
import Card from "@components/routine/CommonCard.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@consts";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const allRoutines = await getCollection("routines");
allRoutines.sort(
  (a, b) =>
    new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf(),
);

const routinesPerPage = 5;
const firstPageRoutines = allRoutines.slice(0, routinesPerPage);
const totalPages = Math.ceil(allRoutines.length / routinesPerPage);

const basePath = "/page/";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="grid grid-cols-1">
    <div class="mb-4 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2">
      {
        firstPageRoutines
          .slice(0, 5)
          .map((routine) => <Card routine={routine} />)
      }
    </div>
  </div>

  <Pagination
    currentPage={1}
    lastPage={totalPages}
    urlPrev={null}
    urlNext={totalPages > 1 ? `/page/2` : null}
    basePath={basePath}
    maxDisplayedPages={5}
  />
</BaseLayout>
